<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".main_navigation"
            android:exported="false"
            android:label="@string/title_activity_main_navigation"
            android:theme="@style/Theme.Test.NoActionBar" />
        <activity
            android:name=".NavAdminActivity"
            android:exported="false"
            android:label="@string/title_activity_nav_admin"
            android:theme="@style/Theme.Test.NoActionBar" />
        <activity
            android:name=".NavTpoActivity"
            android:exported="false"
            android:label="@string/title_activity_nav_tpo"
            android:theme="@style/Theme.Test.NoActionBar" />
        <activity
            android:name=".nav_draw"
            android:exported="false"
            android:label="@string/title_activity_nav_draw"
            android:theme="@style/Theme.Test.NoActionBar" />
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".TpoDashboard"
            android:exported="false" />
        <activity
            android:name=".UserDashboard"
            android:exported="false" />
        <activity
            android:name=".UserSignup"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".TpoLogin"
            android:exported="false" />
        <activity
            android:name=".UserLogin"
            android:exported="false" />
        <activity
            android:name=".MultiLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>